<!--
<div class="grid-wrapper ml-3 mr-3 mt-5  justify-items-center">
<div class=" onediv shadow-md box-border  self-center   p-4 inset-0 flex items-center justify-center text-xl text-black bg-gray-100 content-center ">

<div class="flex_container ">
<div class=" box box-border  text-center h-12 "><h2 class="mt-2">Login</h2></div>
<div class="linecontainer"><div class="hline"></div></div>

<div class="regbody box box-border mt-8" style="height:222px;">
    <form >
     <label class="label" for="fname">Username:</label><br>
     <input class="inputbox" type="text" id="fname" name="fname" [(ngModel)]="register.username">  <br>
     <label class="label" for="pw">Password:</label><br>
     <input class="inputbox" type="password" id="pw" name="pw" [(ngModel)]="register.password">  <br>

     <input (click)="loginUser()" class="submitButton bg-blue-500 text-sm " type="submit" value="Submit">

   </form>
</div> -->
<!-- <div class=" box box-border bg-blue-300 text-center ">Box 3</div>
<div class=" box box-border bg-blue-400 text-center">Box 4</div>
 -->
<!-- 
</div>

</div>

</div> -->




<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>

        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Register</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="uname1">Username</label>
                <input type="text" [(ngModel)]="registerUserData.email" name="email" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="registerUserData.password" name="password" class="form-control rounded-0"  required>
              </div>
              <button type="button" (click)="registerUser()" class="btn btn-primary float-right">Register</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->

      </div>


    </div>
  </div>
