
<div class="grid-wrapper ml-3 mr-3    justify-items-center">
    <div class="fourdiv block place_box_thin  font-sans justify-center text-2xl  items-center bg-gray-100   " style="width:500px;">
        <app-panel></app-panel>
    </div>
    <div   class="centerblock fourdiv block place_box_thin  font-sans justify-center text-2xl  items-center  " style="width:840px;">
        <h4 style="text-align:center;margin-top:10px;padding:8px;">Feed</h4>

        <div class="hline"></div>
        <app-feed></app-feed>
    </div>
    <div class="fourdiv block place_box_thin  font-sans justify-center text-2xl  items-center bg-gray-100   " style="width:500px;">
        <app-following></app-following>
    </div>
</div>
