
<div class="grid-wrapper ml-3 mr-3 mt-5  justify-items-center">
    <div class=" onediv shadow-md box-border min-h-full min-w-full self-center p-4 inset-0 flex items-center justify-center text-xl text-black bg-purple-100 content-center ">
        1
    </div>
    <div class="twodiv shadow-md box-border min-h-full self-center p-4 inset-0 flex items-center justify-center text-xl text-black bg-purple-100 content-center" style="width:1000px;">
        Feed
    </div>
    <div class="threediv box-border min-h-full min-w-full shadow-md  self-center p-4 inset-0 flex items-center justify-center text-xl text-black bg-purple-100 content-center ">
        Followers
    </div>
</div>
