
<div class="grid-wrapper ml-3 mr-3 mt-5  justify-items-center">
<div class=" onediv shadow-md box-border  self-center   p-4 inset-0 flex items-center justify-center text-xl text-black bg-gray-100 content-center ">

<div class="flex_container ">
<div class=" box box-border  text-center h-12 "><h2 class="mt-2">Registration</h2></div>
<div class="linecontainer"><div class="hline"></div></div>

<div class="regbody box box-border mt-8" style="height:700px;">
    <form >
     <label class="label" for="fname">First name:</label><br>
     <input class="inputbox" type="text" id="fname" name="fname">  <br>
     <label class="label" for="lname">Last name:</label><br>
     <input class="inputbox" type="text" id="lname" name="lname"  ><br>
     <label class="label" for="age">Age:</label><br>
     <input class="inputbox" type="text" id="age" name="age"><br><br>
     <input class="submitButton bg-blue-500 text-sm " type="submit" value="Submit">

   </form>
</div>
<!-- <div class=" box box-border bg-blue-300 text-center ">Box 3</div>
<div class=" box box-border bg-blue-400 text-center">Box 4</div>
 -->

</div>

</div>

</div>
