 <div class="flex_container  " style="height:200px;">
     <div class=" box1childcflexcontainer p-2 flex-1 text-left">
                                          <table class="datatable gap-2 bg-orange-500 flex-grow ml-4">

                                                  <colgroup>

                                                    <col span="1" style="width: 100%;">

                                                  </colgroup>
                                                          <!-- animate-pulse -->
                                                  <tr class="traverse">
                                                      <td class="center bold-text wide">Home  </td>

                                                    <!-- <td class="ml-3 accent-text">&#176; C  </td> -->
                                                  </tr>

                                                  <tr class="traverse">
                                                      <td class="center bold-text">Messages </td>
                                                   </tr>

                                                  <tr class="traverse">
                                                      <td class="center bold-text">Followers  </td>
                                                    <!-- <td class="accent-text">&#181;g/m<sup>3</sup>  </td> -->

                                                  </tr>

                                                  <tr class="traverse">
                                                      <td class="center bold-text">Tweets  </td>
                                                   </tr>

                                                  <tr class="traverse">
                                                      <td class="center bold-text">Log out  </td>
                                                   </tr>




                                          </table>

                           </div>


</div>
