
<div class="headingfont topbar backgroundcol flex  inset-0 items-center justify-center shadow-md text-left p-0">

<div class="header_0_1">
  <a  [routerLink]="['home']">Mock Twitter</a>
</div>

</div>
<div class="header_0_2">
  <button class="register bg-gray-800 rounded-lg text-sm" [routerLink]="['registration']">Register</button >
</div>
<div class="header_0_2">
  <button class="login bg-gray-800 rounded-lg text-sm" [routerLink]="['login']">Login</button >
</div>
<!-- <div class="header_0_2" ngif="login">
  <button class="login bg-gray-800 rounded-lg text-sm" [routerLink]="['login']">Login</button >
</div> -->



<router-outlet></router-outlet>
