<div class="parentflex">
 <h2>To Follow</h2>
<div class="flex_container1  ">
<div *ngFor="let array of array">
 <div class=" flex_child box box-border bg-blue-100 " >
   <div class="">
     <h2 style="font-size:18px;color:#10C4AB;">{{array.username}}</h2>
   </div>

 </div>
 </div>
</div>

<h2>Following</h2>
<div class="flex_container1  ">
<div *ngFor="let array of array">
 <div class=" flex_child box box-border bg-blue-100 " >
   <div class="">
     <h2 style="font-size:18px;color:#10C4AB;">{{array.first_name}} {{array.last_name}}</h2>
   </div>

 </div>
 </div>
</div>
</div>
